* {
	padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
}

html {
    width: 100%;
    height: 100%;
    font-size:  62.5%;
    letter-spacing: 0.03em;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    background: #F6F6F4;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    padding: 0 25px;
}

.navi, .main, .silde, .footer {
    padding: 25px;
}

/* ヘッダー */
.header {
    width: 100%;
    height: 50px;
    color: #ffffff;
    background: #1a1b0e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}   

.header > .container{
    width: 100%;
    max-width: 540px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-title {
    display: inline-block;
    font-size: 3rem;
}

.header-navi {
    height: 100%;
    display: none;
    margin-left: auto;
}

.header-navi > li{
    height: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
}

.menu-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;
}

/* ナビ */
.navi {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    position: fixed;
    top: 50px;
    z-index: 1;
    transform: translateY(calc(-100% - 50px));
    transition: transform .2s ease;
    
    color: #ffffff;
    background: #1a1b0e;
}

.navi > li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#drawer-checkbox:checked ~ .navi {
    transform: translateY(0);
    display: block;
}

/* メイン */
.main {
    width: 100%;
    position: relative;
    top: 50px;
    left: 0;
    background: #ffffff;
}

.article {
    width: 100%;
    height: auto;
    max-width: 540px;
    background: #ffffff;
    margin: 0 auto;
}

/* 記事ヘッダー */
.article-header {
    width: 100%;
    margin-bottom: 10px;
}

.article-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.article-info {
    color: #ACACAC;
    margin-bottom: 10px;
}

.article-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tag:not(:last-child) {
    margin-right: 8px;
}

.tag {
    color: #666666;
    background: #ACACAC;
    border-radius: 4px;
    margin-bottom: 4px;
    padding: 2px 8px;
}

/* 記事内容 */
.article-content {
    width: 100%;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    font-weight: bold;
    line-height: 1.5;
    font-feature-settings: "palt";
    margin-top: 2.2em;
    margin-bottom: 2.4rem;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em;
}

/* サイドバー */
.side {
    display: none;
}

/* フッター */
.footer {
    width: 100%;
    position: relative;
    bottom: -50px; /* ヘッダー分マイナス */

    color: #ffffff;
    background: #3E3E3E;
    background: #1a1b0e;
}

/* 480pxから */
@media (min-width: 480px) {
    /* .navi {
        width: 100%;
        height: 0;
        position: fixed;
        top: 50px;
        transition: all .2s ease-out;
    }
    
    #drawer-checkbox:checked ~ .navi {
        position: fixed;
        top: 50px;
        height: 100vh;
    } */
}

/* 770pxから */
@media (min-width: 768px) {
    .navi, .main, .article, .silde, .footer {
        padding: 16px;
    }
    
    .header {
        position: absolute;
        padding: 0 16px;
        margin: 0;
    }
    .header > .container {
        max-width: initial;
        margin: 0;
    }

    .header-title {
        margin: 0;
    }

    .header-navi {
        display: flex;
        align-items: center;
    }

    .menu-btn {
        display: none;
    }
    
    .navi {
        display: none;
    }

    #drawer-checkbox:checked ~ .navi {
        display: none;
    }

    .main {
        width: 70%;
        background: #F6F6F4;
    }

    .article {
        margin: 0;
        max-width: initial;
    }

    .side {
        width: calc(30% - 16px);
        display: block;
        background: #ffffff;
        position: absolute;
        top: 66px;
        left: 70%;
    }
    
    .footer {
        width: 100%;
        z-index: 1;
    }
}

/* 1025pxまで */
@media (min-width: 1025px) {
    .header{
        padding: 0 50px;
    }

    .navi, .main, .article, .silde, .footer {
        padding: 50px;
    }

    .side {
        width: calc(30% - 50px);
        display: block;
        background: #ffffff;
        position: absolute;
        top: calc(50px + 50px);
        left: 70%;
    }
}