@charset "UTF-8";
html {
  width: 100%;
  font-size: 62.5%;
  letter-spacing: 0.03em;
}

body {
  width: 100%;
  font-size: 1.4rem;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
}

h1 {
  font-size: 2.4rem;
}
