@charset "UTF-8";
.global-footer {
  width: 100%;
  color: #95aac9;
  background-color: #F9FBFD;
  position: relative;
  top: 50px;
}

.footer-container {
  width: 100%;
  max-width: 540px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nomeaning {
  cursor: pointer;
}

/* 480pxから */
/* 768pxから */
@media (min-width: 768px) {
  .footer-container {
    max-width: 720px;
  }
}

/* 1025pxから */
@media (min-width: 1000px) {
  .footer-container {
    max-width: 960px;
  }
}
