html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #FAFAFA;
}

.register-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 440px;
  padding: 50px;
  border-radius: .5rem;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.register-title {
  margin-bottom: 30px;
}

.register-title__name {
  margin-top: 0;
  margin-bottom: .2em;
}

.register-title__input {
  width: 100%;
  height: 30px;
  padding: 0 .5em;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
}

.register-image {
  margin-bottom: 30px;
}

.register-image__name {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: .2em;
}

.register-image__input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.register-text {
  margin-bottom: 30px;
}

.register-text__name {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: .2em;
}

.register-text__input {
  width: 100%;
  height: 150px;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  appearance: none;
}

.register-tag {
  margin-bottom: 60px;
}

.register-tag__name {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: .2em;
}

.register-tag__input {
  width: 150px;
  height: 30px;
  padding: 0 .5em;
  border-radius: 5px;
  margin-right: .5em;
  margin-bottom: .5em;
  border: 1px solid #9E9E9E;
}

.register-tag__button {
  height: 30px;
  padding: 0 .8em;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
}

.register-tag .register-tag {
  display: inline-block;
  font-size: 1.2rem;
  color: #BDBDBD;
  background-color: #EEEEEE;
  border-radius: .3rem;
  padding: .2em .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.register-tag .register-tag__delete {
  margin-left: .5em;
  cursor: pointer;
}

.register-btn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.register-btn__submit {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
}
