.regester-form__title {
  border: 1px solid #cccccc;
}

.regester-form__image {
  border: 1px solid #cccccc;
}

.regester-form__text {
  border: 1px solid #cccccc;
}

.regester-form__btn {
  border: 1px solid #cccccc;
}

.regester-form__btn--cansel {
  border: 1px solid #cccccc;
}
