.blog-body {
    background-color: #FAFAFA;
}

.blog-container {
    width: 100%;
    max-width: 540px;
    padding: 24px 12px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
}

.blog-aside, .blog-main {
    width: 100%;
    max-width: 540px;
    padding: 0 12px;
}

.card {
    width: 100%;
    margin-bottom: 24px;
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    word-wrap: break-word;
}

.card-header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;

    &__title {
        &--aside {
            font-size: 1.4rem;
        }
    }
}

.card-content {
    width: 100%;
   
    &__image {
        width: 100%;
        margin-bottom: 12px;
        border-radius: .5rem;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__tag {
        display: inline-block;
        font-size: 1.2rem;
        text-align: center;
        color: #BDBDBD;
        background-color: #EEEEEE;
        border-radius: .3rem;
        padding: .2em .5em;
        margin-right: .5em;
        margin-bottom: .5em;
    }
}

.card-fotter {
    width: 100%;
    margin-top: 2rem;
    color: #BDBDBD;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
}

/* 480pxから */
@media (min-width: 480px) {
}

/* 768pxから */
@media (min-width: 768px) {
    .blog-container {
        max-width: 720px;
    }
    .blog-aside {
        max-width: 30%;
        order: 1;
    }
    .blog-main {
        max-width: 70%;
        order: 0;
    }
}

/* 1025pxから */
@media (min-width: 1000px) {
    .blog-container {
        max-width: 960px;
    }
    .blog-aside {
        max-width: 25%;
        order: 1;
    }
    .blog-main {
        max-width: 75%;
        order: 0;
    }
}