.index-main {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #cccccc;
}

/* 480pxから */
@media (min-width: 480px) {
}

/* 770pxから */
@media (min-width: 768px) {
}

/* 1025pxから */
@media (min-width: 1025px) {
}